<div class="modal fade ajg-modal" id="ph_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title text-success"><span class="text-muted lnr lnr-magic-wand"></span> Provide Help</h4>
            </div>
            <form method="POST" action="">
                <input type="hidden" name="type" value="11">
                <div class="modal-body">
                    <fieldset class="form-group">
                        <label>Please select the amount you wish to deposit.</label>
                        <select class="c-select form-control" name="amount">
                            <option value="400">RM400</option>
                            <option value="800">RM800</option>
                            <option value="1200">RM1200</option>
                            <option value="1600">RM1600</option>
                            <option value="2000">RM2000</option>
                        </select>
                    </fieldset>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="agreed" id="ph_agreed"> <span class="text-muted">I have <a href="../docs/ph_risks.php">read and understand</a> the risks involved.</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" id="ph_button" class="btn btn-success-outline btn-sm" disabled>Confirm</button>
                    <a class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Toggles the confirm button
    $('#ph_agreed').on('change', function() {
        var bool = ($(this).is(':checked')) ? false : true;
        $('#ph_button').attr('disabled', bool)
    })
</script>