<div class="modal fade ajg-modal" id="adduser_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title text-primary"><span class="lnr lnr-plus-circle"></span> Add A Participant</h4>
            </div>
            <form method="POST" action="participants">
                <input type="hidden" name="command" value="add_participant">
                <div class="modal-body">
                    <fieldset class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="John Doe">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>IC Number</label>
                        <input type="text" class="form-control" placeholder="888888-88-8888">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Email Address</label>
                        <input type="text" class="form-control" placeholder="johndoe@gmail.com">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="012 345 6789">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Home Address</label>
                        <textarea class="form-control"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Mavro Pin <a class="small" href="#">Generate</a></label>
                        <input type="text" class="form-control" placeholder="21232f297a57a5a743894a0e4a801fc3" id="mavro_pin">
                    </fieldset>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" id="ph_button" class="btn btn-primary btn-sm">Add Participant</button>
                    <a class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Toggles the confirm button
    $('#ph_agreed').on('change', function() {
        var bool = ($(this).is(':checked')) ? false : true;
        $('#ph_button').attr('disabled', bool)
    })
</script>