@font-face {
    font-family: 'sanfran';
    src: url('fonts/sanfran/sanfran.eot');
    src: url('fonts/sanfran/sanfran.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanfran/sanfran.woff2') format('woff2'),
         url('fonts/sanfran/sanfran.woff') format('woff'),
         url('fonts/sanfran/sanfran.ttf') format('truetype'),
         url('fonts/sanfran/sanfran.svg#sanfran') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sanfran';
    src: url('fonts/sanfran/sanfranb.eot');
    src: url('fonts/sanfran/sanfranb.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanfran/sanfranb.woff2') format('woff2'),
         url('fonts/sanfran/sanfranb.woff') format('woff'),
         url('fonts/sanfran/sanfranb.ttf') format('truetype'),
         url('fonts/sanfran/sanfranb.svg#sanfranb') format('svg');
    font-weight: bold;
    font-style: normal;
}