// AJG Stylesheet
// Author: Irfan Radzi
// October 2015

@import 'fonts';
@import '../../components/bootstrap/scss/bootstrap';
@import 'linearicons';

// Color Scheme
// $ajg_violet: rgb(46,36,60);
$ajg_violet: rgb(0,0,0);
$ajg_gold: rgb(195, 159, 75);

// GENERAL STYLES
// ======================
body { background: url(../img/bg.png) repeat; }

.ajg-content {
    position: relative;
    z-index: 2;
    margin: 20px auto;
    padding: 20px;
    background: #FFF;
    box-shadow: 0 2px 2px rgba(#000, 0.2);
    border-radius: 5px;
}

.table {
    // background: #FFF;
}

.ajg-modal {
    .modal-header { color: $ajg_violet; }
}

.ajg-alert {
    border-radius: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    z-index: 3;
}

.card-center-container {
    max-width: 600px;
}

// NAVIGATION BAR
// ======================
#ajg-nav {
    background: $ajg_violet;
    border-radius: 0;
    border-bottom: 5px solid $ajg_gold;

    .active > .nav-link {
        color: $ajg_gold;
        text-shadow: 0 0 2px rgba(#FFF, 0.6);
    }

    .ajg-navbar-right {
        @extend .pull-right;
    }

    @include media-breakpoint-down(md) {
        .navbar-nav .nav-item {
            display: block;
            width: 100%;
            margin-left: 0;
            &:not(:last-child) {
                border-bottom: 1px solid lighten($ajg_violet, 30%);
            }
        }
        .ajg-navbar-right {
            li:first-child { margin-top: 20px; }
            float: none !important;
        }
    }
    .navbar-brand {
        img {
            width: 30px;
            float: left;
            margin-right: 10px;
            // position: absolute;
        }
    }
}

// LOGIN PAGE
// ======================
#login_index .faux_container {
    max-width: 400px;
    margin: 0 auto;
}
.login_container {
    margin-top: 30px;
    max-width: 400px;
    text-align: center;
    #login_form {
        background: #FFF;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(#000, 0.1);
        .logo {
            width: 50%;
            margin: 10px 0;
        }
    }
}


// CARDS
// ======================
.ajg-card {
    background: #FFF;
    position: relative;
    box-shadow: 0 2px 2px rgba(#000, 0.1);
    overflow: hidden;
    h5 {
        margin-bottom: 0;
    }
}

.ajg-card-phlist {
    background: #FFF;
    border: 1px solid lighten($brand-success, 20%);
}

ul.request-list {
    li {
        display: block;
        position: relative;
        padding-top: 20px;
        border-top: 1px solid #CCC;
        &:not(:first-child) { margin-top: 20px; }
        @include media-breakpoint-down(md) {
            text-align: center;
        }
        .cycle-info {
            margin-top: 1em;
            small { display: block; }
            .secondary-info {
                margin-top: 5px;
            }
        }
        .status-sign {
            margin-top: 20px;
            .countdown {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: normal;
            }
            .small-warning {
                font-size: 0.6em;
                display: block;
            }
            // .btn {
            //     margin-top: 20px;
            // }
        }
    }
}

