{% if session.role == constant('DEF::ROLE_ADMIN') or session.role == constant('DEF::ROLE_MANAGER') %}
    {%
        set navs = [
            ["/app", "Dashboard", "home"],
            ["participants", "Participants", "users"],
            ["mavro", "Mavro", "license"]
        ]
    %}
{% else %}
    {%
        set navs = [
            ["/app", "Dashboard", "home"],
            ["mavro", "Mavro", "license"]
        ]
    %}
{% endif %}

{% set active_page = active_page|default('Dashboard') %}
{% set username = fullname|default('Anonymous') %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AJG: {{ active_page }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/ajg.css">
</head>
<body>
    <nav id="ajg-nav" class="navbar navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../static/img/logo_round.png"> AJG</a>
            <button class="text-primary navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#main_nav">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-sm" id="main_nav">
                <ul class="nav navbar-nav">
                    {% for nav in navs %}
                        <li class="nav-item {% if nav[1] == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ nav[0] }}">
                                <span class="lnr lnr-{{ nav[2] }}"></span> {{ nav[1] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav ajg-navbar-right">
                    <li class="nav-item {% if active_page == 'Profile' %} active{% endif %}">
                        <a href="profile" class="nav-link">
                            <span class="lnr lnr-user"></span> {{ session.fullname|e }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="logout" class="nav-link">
                            <span class="lnr lnr-exit"></span> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="../static/js/min/libraries-min.js"></script>
    {% block modal %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>