{% extends 'base.twig' %}
{% set active_page = 'Dashboard' %}
{% block content %}
    <div class="container">
        <div class="ajg-content">
            <div class="text-center">
                <h1>Hello, {{ session.fullname }}</h1>
                <p>
                    Welcome to the AJG Community of mutual financial help.<br>
                    {% if not first_time %}
                    <small class="text-muted">Remember, participate only with the money which is not the last in your wallet!</small><br>
                    {% endif %}
                </p>
            </div>
            <div class="center-block card-center-container">
                <div class="card card-block ajg-card">
                    {% if first_time %}
                        <div class="text-center">
                            <h4 class="text-muted">Since this is your first time in the program, you will only be able to create your first PH <span data-livestamp="{{ timeleft }}"></span>.</h4>
                            <p class="text-muted">Your patience is much appreciated.</p>
                        </div>
                    {% elseif not list and type == constant('DEF::TYPE_PH') %}
                        <h4 class="card-title"><span class="text-muted lnr lnr-magic-wand"></span> Provide Help.</h4>
                        <p class="card-text text-muted">Buy <a href="#">Mavro</a> to help others. You will only be able to get help once your help is approved by others. <a class="small" href="#">Learn more</a></p>
                        <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#ph_modal">Click Here To Provide Help</a>
                    {% else %}
                        {% if type == constant('DEF::TYPE_PH') %}
                            <h4 class="card-title text-success text-center">
                                <span class="text-muted lnr lnr-magic-wand"></span> Provide RM{{ amount }}
                            </h4>
                        {% else %}
                            <h4 class="card-title text-warning text-center">
                                <span class="text-muted lnr lnr-hand"></span> Get RM{{ amount }}
                            </h4>
                        {% endif %}
                        {% if list == 'wait' %}
                            <div class="text-center">
                                There is no participants in this cycle. You can refresh the page or click here to <a href="">refresh</a>.
                                {% if session.role == constant('DEF::ROLE_ADMIN') %}
                                    <hr>
                                    <a href="debug/convert?type={{ type }}" class="btn btn-secondary-outline">Convert Type</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <ul class="list-unstyled request-list">
                                {% for l in list %}
                                    {% if l.reqStatus != constant('DEF::REQ_FAILED') %}
                                        <li>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <small class="text-muted">Created <span data-livestamp="{{ l.createdOn }}"></span></small>
                                                    <h5>{{ l.fullname }}</h5>
                                                    <div class="cycle-info">
                                                        {% if type != constant('DEF::TYPE_GH') %}
                                                            <small><strong>RM{{ constant('DEF::PH_MULTIPLIER') - constant('DEF::PH_POOL_AMOUNT') }}</strong> to {{ l.account_no }} {{ l.bank }}</small>
                                                            <small><strong>RM{{ constant('DEF::PH_POOL_AMOUNT') }}</strong> to 562674220893 Maybank</small>
                                                        {% endif %}
                                                        <small class="text-muted secondary-info">
                                                            <span class="text-warning"><span class="lnr lnr-hand"></span> {{ l.amount }}</span> &bull;
                                                            <span class="lnr lnr-phone-handset"></span> 0{{ l.phone }} &bull;
                                                            <span class="lnr lnr-envelope"></span> {{ l.email }}
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    {% if l.reqStatus == constant('DEF::REQ_PENDING') %}
                                                        {% if type == constant('DEF::TYPE_GH') %}
                                                            <form class="status-sign text-center" action="approve" method="POST">
                                                                <input name="data1" value="{{ l.self_id }}" type="hidden">
                                                                <input name="data2" value="{{ l.part_id }}" type="hidden">
                                                                <button type="submit" class="btn btn-warning-outline btn-sm btn-block">Approve Payment</button>
                                                            </form>
                                                        {% else %}
                                                            <h4>
                                                                Get approval of your transfer <span data-livestamp="{{ l.deadline  }}"></span>
                                                            </h4>
                                                            <!-- <small class="cycle-info text-danger small-warning">
                                                                Late payment will not be tolerated. Please contact Administrator to cancel this request.
                                                            </small> -->
                                                        {% endif %}
                                                    {% elseif l.reqStatus == constant('DEF::REQ_VERIFIED') %}
                                                        <div class="status-sign text-success text-center">
                                                            <h1><span class="lnr lnr-checkmark-circle"></span></h1>
                                                            <small>Approved</small>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    {% elseif type == constant('DEF::TYPE_PH') %}
                                        <li>
                                            <div class="status-sign text-danger text-center">
                                                <!-- <h1><span class="lnr lnr-cross-circle"></span></h1> -->
                                                <small class="cycle-info text-danger text-left">
                                                    You failed to get {{ l.fullname }} payment approval in time.
                                                </small>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
                {% if balance != 0 and list != 'wait' %}
                    <div class="text-center">
                        {% if not complete_failure %}
                            <hr>
                            {% if type == constant('DEF::TYPE_GH') %}
                                <h5 class="text-warning">Your GH balance is RM{{ balance }}</h5>
                            {% else %}
                                <h5 class="text-success">Your PH balance is RM{{ balance }}</h5>
                            {% endif %}
                            <p class="text-muted">
                                You need another {{ balance / constant('DEF::PH_MULTIPLIER') }} participant{% if balance / constant('DEF::PH_MULTIPLIER') > 1 %}s{% endif %} to complete this cycle.<br>
                                Come again later or keep <a href="">refreshing</a> this page for the updated list.
                            </p>
                        {% else %}
                            <h5 class="text-danger">Your account has been temporarily suspended.</h5>
                            <p class="text-muted">This is because you failed to make payment to all of your participants. Please contact your manager.</p>
                        {% endif %}
                    </div>
                {% elseif completed %}
                    <form class="text-center" action="complete" method="POST">
                        <input type="hidden" name="type" value="{{ type }}">
                        <input type="hidden" name="amount" value="{{ amount }}">
                        <input type="hidden" name="data" value="{{ completed }}">
                        {% if type == constant('DEF::TYPE_GH') %}
                            <p>
                                You have completed the <strong class="text-warning">GET HELP</strong> cycle. <br>
                                <small class="text-muted">Now it's your turn to provide help.</small>
                            </p>
                            <button type="submit" class="btn btn-success btn-block">Provide RM{{ amount }}</button>
                        {% else %}
                            <p>
                                Nice job on completing the payment.<br>
                                <small class="text-muted">Now let's get rewarded.</small>
                            </p>
                            <button type="submit" class="btn btn-warning btn-block">Get RM{{ amount }}</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
        {% if session.role == constant('DEF::ROLE_ADMIN') %}
        <div class="text-center">
            <hr>
            <a href="debug/convert?reset=true" class="btn btn-danger btn-sm">Reset PH/GH Database</a>
            <hr>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block modal %} {% include 'modal/modal_ph.twig' %} {% endblock %}
{% block javascript %}
    <script src="../static/js/_utilities.js"></script>
{% endblock %}
