{% extends 'base.twig' %}
{% set active_page = 'Mavro' %}
{% block content %}
    <div class="container">
        <div class="ajg-content text-center">
            <h1>Mavro</h1>
            <p>Your current mavro is RM{{ amount }} + 12%</p>
            <hr>
            <small class="text-muted">This section serves as a placeholder for Mavro and transactions.</small>
        </div>
    </div>
{% endblock %}