{% extends 'base.twig' %}
{% set active_page = 'Participants' %}
{% block content %}
    <div class="container">
        <div class="ajg-content">
            <form class="pull-right form-inline" action="" method="GET">
                <fieldset class="form-group">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit"><span class="lnr lnr-magnifier"></span></button>
                        </span>
                    </div>
                </fieldset>
            </form>
            <a data-toggle="modal" data-target="#adduser_modal" class="btn btn-primary"><span class="lnr lnr-plus-circle"></span> Add Participant</a>
        </div>
        <div class="ajg-content">
            {% if list %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fullname</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Referrer</th>
                                <th>Last Login</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in list %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ l.fullname }}</td>
                                    <td>0{{ l.phone }}</td>
                                    <td><a href="mailto:{{ l.email }}">{{ l.email }}</a></td>
                                    <td>{{ l.belongsTo }}</td>
                                    <td>{{ l.lastLogin }}</td>
                                    <td>
                                        <a class="btn btn-secondary-outline btn-sm"><span class="lnr lnr-eye"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="text-center">
                    <p>You have no participants.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block modal %} {% include 'modal/modal_adduser.twig' %} {% endblock %}